{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>그룹</title>
    <meta charset="UTF-8">
    {% block css %}
    {% endblock css %}
    <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css">
</head>
<body>
   <div id="warp">
        <div id="header">
            <div id="nav">
                <a href="{% url 'index' %}">홈으로 이동</a>
            </div>
            <br>
            {% block group_header %}
            {% endblock group_header %}
        </div>
        <div id="content">
            <div class="container">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
        <div id="footer">
            <div class="footer">
                <p>footer</p>
            </div>
        </div>
    </div>
</body>
</html>
